<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cómo agregar notas</title>

    <!-- Custom fonts for this template-->
    <link href="../assets/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/sb-admin-2.css" rel="stylesheet" type="text/css">

</head>

<body id="page-top" style="background-color: #f8f9fc;">

    <div class="col-lg-8" style="margin: 0 auto;">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Cómo cargar las fórmulas</h1>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h4>Al inicio colocar la expresión: " \[ ".</h4>
                </li>
                <li class="nav-item">
                    <h4>Al final colocar la expresión: " \] ".</h4>
                </li>
                <li class="nav-item">
                    <h4>Colocar la expresión con símbolos básicos como +*-^.</h4>
                </li>
                <li class="nav-item">
                    <h4>Para la división colocar la expresión " \over " entre el numerador y el denominador.</h4>
                </li>
                <li class="nav-item">
                    <h4>Agrupar expresiones mediante paréntisis o llaves.</h4>
                </li>
                <li class="nav-item">
                    <h4>Si la expresión no aparece con la estética correspondiente, volver a ingresar al menú para recargar la página.</h4>
                </li>
            </ul>
        </div>
    </div>
 
</body>

</html>